<!--%import("css/layout.css")--> 
<!--%import("https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")-->
<!--%import("js/slides.min.jquery.js")-->

<script type="text/javascript">
	$(function(){
		$('#slides').slides({
			preload: true,
			play: 5000,
			effect: 'slide',
			generateNextPrev: false
		});
	   $(".menu>li").hover(function(){
		var t = $(this);
		t.siblings(".selected").addClass("bgnone");
		t.find(">ul:not(:animated)").slideDown(200);
	   },function(){;
		var t = $(this);
		t.siblings(".selected").removeClass("bgnone");
		t.find(">ul").slideUp(200);
	   });
	});
</script>
<script type="text/javascript">
	jQuery(function($){
		// Tree Navigation
		var submenu = $('.submenu');
		var submenuPlus = '\<button type=\"button\" class=\"submenuToggle plus\"\>+\<\/button\>';
		var submenuMinus = '\<button type=\"button\" class=\"submenuToggle minus\"\>-\<\/button\>';
		submenu.find('li.active').addClass('open').parents('li').addClass('open');
		submenu.find('li.open').parents('li').addClass('open');
		submenu.find('li.open>.submenuToggle').removeClass('plus').addClass('minus');
		submenu.find('li.open>ul').slideDown(200);
		submenu.find('li:last-child').addClass('last');
		$('.submenu .submenuToggle').click(function(){
			button = $(this);
			button.parent('li').toggleClass('open');
			if(button.parent('li').hasClass('open')){
				button.removeClass('plus').addClass('minus');
				button.parent('li').find('>ul').slideDown(200);
			} else {
				button.removeClass('minus').addClass('plus');
				button.parent('li').find('>ul').slideUp(200);
			}
			return false;
		});
		$('.submenu a[href=#]').click(function(){
			t = $(this);
			t.parent('li').toggleClass('open');
			if(t.parent('li').hasClass('open')){
				t.prev('button.submenuToggle').text('-').removeClass('plus').addClass('minus');
				t.parent('li').find('>ul').slideDown(100);
			} else {
				t.prev('button.submenuToggle').text('+').removeClass('minus').addClass('plus');
				t.parent('li').find('>ul').slideUp(100);
			}
			return false;
		});
	});
</script>


<div id="doc">
	<div class="header">
		<div class="logo">
			<!--@if($layout_info->header_logo_url)-->
				<a href="{$layout_info->header_logo_url}">
			<!--@else-->
				<a href="/">
			<!--@end--> 
			<!--@if($layout_info->header_logo_image)-->
				<img src="{$layout_info->header_logo_image}" alt="{$layout_info->header_logo_url}" class="iePngFix" /></a>
			<!--@else-->
				<img src="img/nologo.png" alt="logo here" class="iePngFix" /></a>
			<!--@end-->
		</div>
		<form action="{getUrl()}" method="post">
			<!--@if($vid)-->
			<input type="hidden" name="vid" value="{$vid}" />
			<!--@end-->
			<input type="hidden" name="mid" value="{$mid}" />
			<input type="hidden" name="act" value="IS" />
			<input type="hidden" name="search_target" value="title_content" />
			<input name="is_keyword" type="text" id="search_input" class="inputText" title="Search" value="Search" onblur="if (this.value.length==0) {this.value='Search'}" onfocus="if(this.value==this.title)this.value='';return false;">
		</form>
		<ul class="menu">
			<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
				<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">
					{$val1['link']}
				</a>
				<ul cond="$val1['list']">
					<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
						<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
					</li>
				</ul>	
			</li>
		</ul>
	</div>
	<div class="body">
		<div id="slides" cond="$layout_info->banner == 'Y'">
			<div class="slides_container">
				<div class="slide">
				<a href="{$layout_info->banner_url_1}"><img src="{$layout_info->banner_image_1}"></a>
				</div>
				<div class="slide">
				<a href="{$layout_info->banner_url_2}"><img src="{$layout_info->banner_image_2}"></a>
				</div>
				<div class="slide">
				<a href="{$layout_info->banner_url_3}"><img src="{$layout_info->banner_image_3}"></a>
				</div>
			</div>
		</div>
		<div cond="$layout_info->body_style == 'sub'">
			<div class="aside">
				<ul class="submenu">
					<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
						<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">
							{$val1['link']}
						</a>
						<button cond="$val1['list']" type="button" class="submenuToggle"></button>
						<ul cond="$val1['list']" id="submenu">
							<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
								<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a>
							</li>
						</ul>	
					</li>
				</ul>
			</div>
			<div class="article">
				{$content}
			</div>
		</div>
		<div style="clear:both; padding-right:1px;" cond="$layout_info->body_style == 'main'">
			{$content}
		</div>
	</div>
	<div class="footer">
		<div class="box1">
			<p class="title">If you have any problem with this page, please contact <a href="mailto:{$layout_info->footer_email}" style="color:#08c;">{$layout_info->footer_email}<a></p>
			<ul class="menu">
				<li loop="$footer_menu->list=>$key1,$val1" id="gnb" class="active"|cond="$val1['selected']">
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
				</li>
			</ul>
		</div>
		<div class="box2">
			<p>Copyrights &copy {$layout_info->footer_copy}</p>
		</div>
		<div class="login">
		<!--@if(!$is_logged)-->
			<li><a href="{getUrl('act','dispMemberLoginForm')}">로그인</a></li>
			<li><a href="{getUrl('act','dispMemberSignUpForm')}">회원가입</a></li>
		<!--@else-->
			<!--@if(!$is_admin)-->
			<li><a href="{getUrl('','module','admin')}">관리</a></li>
			<li><a href="{getUrl('act','dispMemberInfo')}">회원정보</a></li>
			<!--@else-->
			<li><a href="{getUrl('act','dispMemberInfo')}">회원정보</a></li>
			<!--@end-->
			<li><a href="{getUrl('act','dispMemberLogout')}">로그아웃</a></li>
		<!--@end-->
		</div>
	</div>
</div>