/* @author DAOL Project (developer@daolcms.org) */
body,p,ul,li,h3 {
	margin:0;
	padding:0;
}
html {
	margin:0;
}
body {
	background:#ffffff;
	font-family:'나눔고딕','NanumGothic','맑은고딕','Malgun Gothic','Apple SD Gothic Neo','Apple Gothic','돋움',dotum,Tahoma,Verdana,Arial,Geneva,Helvetica,sans-serif;
}
a {
	text-decoration:none;
	color:#404040;
}

/*haeder*/
.daolcms_header {
	width:100%;
}

/*haeder login*/
.daolcms_header .header_login {
	width:100%;
}
.daolcms_header .header_login .top_login {
	margin:0 auto;
	width:960px;
}
.daolcms_header .header_login .top_login .login {
	float:right;
	height:31px;
	list-style-type:none;
	margin-top:24px;
}
.daolcms_header .header_login .top_login .login li {
	color:#444;
	float:left;
	line-height:31px;
	list-style-type:none;
	margin:0 0 0 10px;
}
.daolcms_header .header_login .top_login .login li a {
	color:#444;
}
.daolcms_header .header_login .top_login .login li button {
	background:transparent;
	border:0;
	color:#444;
	cursor:pointer;
	position:relative;
	top:-2px \0/IE8+9;
}

/*haeder logo*/
.daolcms_header .header_logo {
	height:75px;
	margin:0 auto;
	width:960px;
}
.daolcms_header .header_logo .logo {
	float:left;
	height:75px;
	width:250px;
}

/*haeder menu*/
.daolcms_header .header_menu {
	background:#4E4E4E;
	width:100%;
}
.daolcms_header .header_menu .menu {
	height:45px;
	margin:0 auto;
	width:960px;
}
.daolcms_header .header_menu .menu #gnb_menu {
	float:left;
	height:45px;
}
.daolcms_header .header_menu .menu #gnb_menu ul {
	list-style:none;
	margin:0;
	padding:0;
}
.daolcms_header .header_menu .menu #gnb_menu .gnb_ul>li {
	float:left;
	position:relative;
	white-space:nowrap;
}
.daolcms_header .header_menu .menu #gnb_menu .gnb_ul>li>a {
	color:#fafafa;
	display:block;
	font-size:15px;
	height:45px;
	line-height:45px;
	padding:0 18px;
}
.daolcms_header .header_menu .menu #gnb_menu .gnb_ul>li>a:hover {
	color:#B8E0FF;
}
.daolcms_header .header_menu .menu #gnb_menu .gnb_ul>li.active>a {
	background:#353535;
	color:#B8E0FF;
}
.daolcms_header .header_menu .menu #gnb_menu .sub {
	background:url('./../img/blackglass.png');
	display:none;
	left:50%;
	min-width:90px;
	padding:10px;
	position:absolute;
	text-align:center;
	top:45px;
	z-index:10;
}
.daolcms_header .header_menu .menu #gnb_menu .sub>li {
	height:20px;
	line-height:20px;
	margin-bottom: 2px;
}
.daolcms_header .header_menu .menu #gnb_menu .sub>li>a {
	color:#fff;
}

/*banner*/
#slides {
	background:url('../img/bgBanner.png') repeat-x 0 0;
	float:left;
	height:250px;
	padding:0;
	position:relative;
	width:960px;
}
.daolcms_banner {
	background:#f7f7f7;
	height:250px;
	width:100%;
}
.daolcms_banner .container {
	margin:0 auto;
	width:960px;
}
.daolcms_banner .container .slide {
	height:250px;
	margin:0 auto;
	width:960px;
}

/*banner button*/
.daolcms_banner .container .pagination {
	float:right;
	list-style:none;
	margin:0;
	position:relative;
	right:5px;
	top:-20px;
	z-index:1000;
}
.daolcms_banner .container .pagination li {
	float:left;
	margin:0 1px;
} 
.daolcms_banner .container .pagination li a {
	background-image:url('../img/pagination.png');
	background-position:0 0;
	display:block;
	float:left;
	height:0;
	overflow:hidden;
	padding-top:13px;
	width:13px;
}
.daolcms_banner .container .pagination li.current a,
.current a:hover {
	background-position:0 -13px;
}
.daolcms_banner .container .pagination li a:hover {
	background-position:0 -26px;
}

/*page*/
.daolcms_page {
	clear:both;
	margin:0 auto;
	width:960px;
}
.daolcms_page .container {
	background-color:#fff;
	float:left;
	margin-top:10px;
	width:960px;
}

/*main page*/
.daolcms_page .container .main_page {
	float:left;
	margin:10px 10px 10px 10px;
	width:940px;
}

/*sub page*/
.daolcms_page .container .sub_menu {
	background-color:#fff;
	color:#666;
	float:left;
	font-size:12px;
	margin-top:10px;
	width:180px;
}
.daolcms_page .container .sub_menu .sub_menu_top {
	border-bottom:2px solid #000;
	font-size:20px;
	font-weight:bold;
	padding-bottom:5px;
}
.daolcms_page .container .sub_menu .nav {
	list-style:none;
}
.daolcms_page .container .sub_menu .nav li a {
	border-bottom:1px solid #ccc;
	display:block;
	padding:8px 5px 8px 5px;
}
.daolcms_page .container .sub_menu .nav li.active a {
	font-weight:bold;
}
.daolcms_page .container .sub_page {
	float:left;
	margin:10px 0 10px 20px;
	width:760px;
}

/*footer*/
.daolcms_footer {
	background:#F6F6F6;
	border-top:1px solid rgba(0, 0, 0, 0.1);
	clear:both;
	float:left;
	height:280px;
	margin-top:20px;
	width:100%;
}
.daolcms_footer .container {
	clear:both;
	margin:0 auto;
	width:960px;
}
.daolcms_footer .container .sitemap a {
	text-decoration:none;
}
.daolcms_footer .container .sitemap a:hover,
.daolcms_footer .container .sitemap a:active,
.daolcms_footer .container .sitemap a:focus {
	text-decoration:underline;
}
.daolcms_footer .container .sitemap .logo {
	float:left;
	height:75px;
	padding:10px 0;
	width:250px;
}
.daolcms_footer .container .sitemap .sitemap_menu {
	float:right;
	max-height:200px;
	min-height:200px;
	padding-top:35px;
}
.daolcms_footer .container .sitemap .sitemap_menu:after {
	content:"";
	display:block;
	clear:both;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub {
	float:left;
	margin:0;
	padding-left:45px;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub .h2 {
	margin:0 0 10px 0;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub .h2 a {
	color:#606060;
	font-size:16px;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub ul {
	list-style:none;
	margin:0;
	padding:0;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub li {
	margin-bottom:6px;
}
.daolcms_footer .container .sitemap .sitemap_menu .sitemap_menu_sub li a {
	color:#808080;
	font-size:13px;
	line-height:20px;
}
.daolcms_footer .container .copyright {
	color:#606060;
	float:left;
	line-height:15px;
}
.daolcms_footer .container .menu {
	color:#606060;
	float:right;
	line-height:15px;
}
.daolcms_footer .container .menu a {
	color:#606060;
}
.daolcms_footer .container .menu li {
	float:left;
	list-style-type:none;
	padding:0 0 0 10px;
}
.daolcms_footer .container .menu li:first-child {
	border:0;
}
.daolcms_footer .container .menu li a:hover {
	text-decoration:underline;
}

/* Popup Login */
.loginWindow {
	display:none;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
} 
.loginWindow.open {
	display:block;
}
.loginWindow .modalWindow {
	background:#000;
	border:0;
	display:block;
	filter:alpha(opacity:30);
	height:100%;
	left:0;
	opacity:.3;
	position:fixed;
	top:0;
	width:100%;
}
.loginWindow .loginLayer {
	background:#fff;
	border:2px solid #797979;
	left:50%;
	margin:0 0 0 -220px;
	position:absolute;
	top:20%;
	width:425px;
}
.loginWindow .loginLayer form {
	display:none;
	margin:0;
	*zoom:1;
}
.loginWindow .loginLayer form:after {
	clear:both;
	content:"";
	display:block;
}
.loginWindow .loginLayer form legend {
	font-size:0;
	height:0;
	line-height:0;
	overflow:hidden;
	position:absolute;
	visibility:hidden;
	width:0;
}
.loginWindow .loginLayer fieldset {
	border:0;
	margin:0;
	padding:0;
}
.loginWindow .loginLayer.loginTypeA form.typeA,
.loginWindow .loginLayer.loginTypeB form.typeB {
	display:block;
	margin-bottom:25px;
}
.loginWindow .loginLayer dl {
	margin:0;
	padding: 30px 40px 0 40px;
}
.loginWindow .loginLayer dt {
	color:#868d95;
	font-size:13px;
	font-weight:bold;
	margin:0 0 10px 0;
}
.loginWindow .loginLayer dd {
	margin:0 0 15px 0;
}
.loginWindow .loginLayer .inputuid {
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ccc;
	color:#333;
	font:20px;
	height:40px;
	padding:6px 9px 0 9px;
	width:320px;
}
.loginWindow .loginLayer .inputuid:focus {
	background:#fff;
	border-radius:5px;
	border:1px solid #94a9ce;
}
.loginWindow .loginLayer .inputupw {
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid #ccc;
	color:#333;
	font:20px;
	height:40px;
	padding:6px 9px 0 9px;
	width:175px;
}
.loginWindow .loginLayer .inputupw:focus {
	background:#fff;
	border-radius:5px;
	border:1px solid #94a9ce;
}
.loginWindow .loginLayer .inputCheck {
	height:13px;
	margin:0 3px 0 0;
	vertical-align:middle;
	width:13px;
}
.loginWindow .loginLayer.loginTypeA .inputText {
	background-image:url('../img/bgLoginText.gif')undefined;
	background-position:right top;
	background-repeat:no-repeat;
}
.loginWindow .loginLayer.loginTypeB .inputText {
	background-image:url('../img/bgOpenidText.gif')undefined;
	background-position:right top;
	background-repeat:no-repeat;
	padding:6px 9px 0 35px;
	width:243px;
}
.loginWindow .loginLayer .close {
	background:transparent url('../img/close.png') no-repeat center -20px;
	border:0;
	cursor:pointer;
	height:27px;
	padding:0;
	position:absolute;
	right:10px;
	top:10px;
	width:27px;
}
.loginWindow .loginLayer .close span {
	font-size:0;
	height:.;
	line-height:0;
	overflow:hidden;
	position:absolute;
	visibility:hidden;
	width:0;
}
.loginWindow .loginLayer .help {
	background:#F0F0F0;
	height:43px;
	width:100%;
}
.loginWindow .loginLayer .help p {
	color:#404040;
	float:left;
	margin:14px 0 0 0;
	padding:0 6px 0 0;
}
.loginWindow .loginLayer .help li {
	float:left;
	list-style-type:none;
	margin:14px 5px 5px 0;
	padding:0 6px 0 0;
}
.loginWindow .loginLayer .keep {
	float:left;
	font-size:11px;
	line-height:normal;
	margin-left:40px;
	white-space:nowrap;
}
.loginWindow .loginLayer .keep label {
	color:#555;
}
.loginWindow .loginLayer .loginButton {
	background-position:0 0;
	float:right;
	width:130px;
}
.loginWindow .loginLayer .loginButton input {
	background-position:right 0;
	cursor:pointer;
	left:11px;
	padding:0 35px 0 35px;
}
.loginWindow .loginLayer .loginButton input {
	background-color:#424549;
	border-radius:5px;
	border:0;
	color:#fff;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	height:48px;
	line-height:48px;
	overflow:hidden;
	position:relative;
}
