<!--// LANG -->
<!--%import("lang/lang.xml")-->

<!--// CSS -->
<!--%import("css/layout.min.css")-->

<!--// JS -->
<!--%import("js/layout.min.js")-->
<!--@if($layout_info->banner_style=="y")-->
	<!--%import("js/slides/slides.min.js")-->
	<!--%import("js/slides/slides_start.min.js")-->
<!--@end-->

{@
$banner_img_1 = $layout_info->banner_image_1 ? $layout_info->banner_image_1 : "./layouts/daol_official/img/slider_default.png";
$banner_img_2 = $layout_info->banner_image_2 ? $layout_info->banner_image_2 : "./layouts/daol_official/img/slider_default.png";
$banner_img_3 = $layout_info->banner_image_3 ? $layout_info->banner_image_3 : "./layouts/daol_official/img/slider_default.png";
$banner_img_4 = $layout_info->banner_image_4 ? $layout_info->banner_image_4 : "./layouts/daol_official/img/slider_default.png";
}

<div class="daolcms_header">
	<div class="header_login">
		<div class="top_login">
			<div class="login">
				<!--@if(!$is_logged)-->
					<li>{$lang->daol_official_welcome_visitor}</li>
					<li><a href="#" onclick="jQuery('#loginWindow').css('display','block');" accesskey="L">{$lang->cmd_login}</a></li>
					<li><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
				<!--@else-->
					<li>{sprintf($lang->daol_official_welcome_member, $logged_info->nick_name)}</li>
					<li cond="$grant->manager"><a href="{getUrl('','module','admin')}">{$lang->cmd_management}</a></li>
					<li><a href="{getUrl('act','dispMemberInfo')}">{$lang->member_info}</a></li>
					<li><a href="{getUrl('act','dispMemberLogout')}">{$lang->cmd_logout}</a></li>
				<!--@end-->
			</div>
		</div>
	</div>
	<div class="header_logo">
		<div class="logo">
			<!--@if($layout_info->header_logo_url)-->
				<a href="{$layout_info->header_logo_url}">
			<!--@else-->
				<a href="/">
			<!--@end-->
			<!--@if($layout_info->header_logo_image)-->
				<img src="{$layout_info->header_logo_image}" alt="{$layout_info->header_logo_url}" class="iePngFix" /></a>
			<!--@else-->
				<img src="img/nologo.png" class="iePngFix" /></a>
			<!--@end-->
		</div>
	</div>
	<div class="header_menu">
	   <div class="menu">
	      <div id="gnb_menu">
			<ul class="gnb_ul">
				<li loop="$main_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
					<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']|noescape}</a>
					<ul class="sub" cond="$val1['list']">
						<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']">
							<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']|noescape}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		</div>
	</div>
</div>

<!--@if($layout_info->banner_style=="y")-->
<div class="daolcms_banner">
	<div class="container">
		<div id="slides">
		   <div class="slides_container">
				<div class="slide">
				<a href="{$layout_info->banner_url_1}"><img src="{$banner_img_1}" alt="sllde1" /></a>
			    </div>
			    <div class="slide">
			    <a href="{$layout_info->banner_url_2}"><img src="{$banner_img_2}" alt="slide2" /></a>
			    </div>
			    <div class="slide">
			    <a href="{$layout_info->banner_url_3}"><img src="{$banner_img_3}" alt="slide3" /></a>
			    </div>
			    <div class="slide">
			    <a href="{$layout_info->banner_url_4}"><img src="{$banner_img_4}" alt="slide4" /></a>
			    </div>
		    </div>
	    </div>
	</div>
</div>
<!--@end-->

<div class="daolcms_page">
	<!--@if($layout_info->body_style=="main")-->
	<div class="container">
		<div class="main_page">
			{$content}
		</div>
	</div>
	<!--@elseif($layout_info->body_style=="sub")-->
	<div class="container">
		<div class="sub_menu">
			<div loop="$main_menu->list=>$key1,$val1" class="sub_menu_top" cond="$val1['selected']">
				<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']|noescape}</a>
			</div>
			<ul class="nav" loop="$main_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
				<li loop="$val1['list']=>$key2,$val2" class="active"|cond="$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']|noescape}</a>
					<ul cond="$val2['list']">
						<li loop="$val2['list']=>$key3,$val3" class="active"|cond="$val3['selected']"><a href="{$val3['href']}" target="_blank"|cond="$val3['open_window']=='Y'">{$val3['link']|noescape}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="sub_page">
			{$content}
		</div>
	</div>
	<!--@end-->
</div>

<div class="daolcms_footer">
	<div class="container">
		<div class="sitemap">
			<div class="logo">
				<!--@if($layout_info->footer_logo_url)-->
					<a href="{$layout_info->footer_logo_url}">
				<!--@else-->
					<a href="/">
				<!--@end-->
				<!--@if($layout_info->footer_logo_image)-->
					<img src="{$layout_info->footer_logo_image}" alt="{$layout_info->footer_logo_url}" class="iePngFix" /></a>
				<!--@else-->
					<img src="img/nologo.png" class="iePngFix" /></a>
				<!--@end-->
			</div>
			<div class="sitemap_menu">
				<!--@foreach($sitemap_menu->list as $key => $val)-->
					<!--@if($val['link'])-->
						<div class="sitemap_menu_sub">
							<div class="h2">
								<a href="{$val['href']}"<!--@if($val['open_window']=='Y')--> onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a>
							</div>
							<!--@if($val['list'])-->
								<ul>
									<!--@foreach($val['list'] as $k => $v)-->
										<!--@if($val['link'])-->
											<li>
												<a href="{$v['href']}"<!--@if($v['open_window']=='Y')--> onclick="window.open(this.href);return false;"<!--@end-->>{$v['text']}</a>
											</li>
										<!--@end-->
									<!--@end-->
								</ul>
							<!--@end-->
						</div>
					<!--@end-->
				<!--@end-->
			</div>
		</div>
	</div>
	<div class="container">
		<p class="copyright">
			<!--@if($layout_info->footer_copy)-->
				Copyrights © {$layout_info->footer_copy}
			<!--@else-->
				Copyright © DAOL CMS. All Rights Reserved.
			<!--@end-->
		</p>
		<ul class="menu">
		   <li loop="$footer_menu->list=>$key1,$val1" class="active"|cond="$val1['selected']">
				<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']|noescape}</a>
		   </li>
		</ul>
	</div>
</div>

<!--@if(!$is_logged)-->
	{@ $member_config = MemberModel::getMemberConfig(); }
	<!--%import("./filter/login.xml")-->
	<!--@if($member_config->enable_openid=='Y')-->
		<!--%import("./filter/openid_login.xml")-->
	<!--@end-->
	<!-- loginWindow -->
	<!--@if($XE_VALIDATOR_MESSAGE && $XE_VALIDATOR_ID == 'layouts/daol_official/1')-->
		<style type="text/css">
			#loginWindow { display:block; }
		</style>
	<!--@end-->
	<div id="loginWindow" class="loginWindow">
	<!-- class="loginWindow" | class="loginWindow open" -->
		<span class="modalWindow"></span>
		<div id="loginLayer" class="loginLayer loginTypeA">
		<!-- class="loginLayer loginTypeA" | class="loginLayer loginTypeB" -->
			<button type="button" class="close" onclick="document.getElementById('loginWindow').style.display='none'" accesskey="X"><span>Close Login Layer</span></button>
			<form action="" method="post" class="typeA" id="commonLogin" ruleset="@login" >
				<input type="hidden" name="success_return_url" value="{getRequestUriByServerEnviroment()}" />
				<input type="hidden" name="act" value="procMemberLogin" />
				<input type="hidden" name="xe_validator_id" value="layouts/daol_official/1" />
				<fieldset>
					<legend>Login</legend>
					<dl>
						<div cond="$XE_VALIDATOR_MESSAGE && $XE_VALIDATOR_ID == 'layouts/daol_official/1'" class="message {$XE_VALIDATOR_MESSAGE_TYPE}">
							<p>{$XE_VALIDATOR_MESSAGE}</p>
						</div>
						<dt><label for="uid" cond="$member_config->identifier != 'email_address'">{$lang->user_id}</label><label for="uid" cond="$member_config->identifier == 'email_address'">{$lang->email_address}</label></dt>
						<dd><input name="user_id" type="text" class="inputuid" id="uid" /></dd>
						<dt><label for="upw">{$lang->password}</label></dt>
						<dd><input name="password" type="password" class="inputupw" id="upw" />
						<span class="loginButton"><input type="submit" value="{$lang->cmd_login}" /></span></dd>
					</dl>
					<p class="keep">
					<input name="keep_signed" type="checkbox" id="keepA" value="Y" class="inputCheck" onclick="if(this.checked) return confirm('{$lang->about_keep_signed}');"/>
					<label for="keepA">{$lang->keep_signed}</label>
				    </p>
				</fieldset>
			</form>
			<div class="help">
				<ol>
				<li><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
				<li><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
				<li><a href="{getUrl('act','dispMemberResendAuthMail')}">{$lang->cmd_resend_auth_mail}</a></li>
				</ol>
			</div>
			<button type="button" class="close" onclick="document.getElementById('loginWindow').style.display='none'" accesskey="X"><span>Close Login Layer</span></button>
		</div>
	</div>
	<!-- /loginWindow -->
<!--@end-->
